*{
    padding: 0;
    margin: 0;
}

.body{
    background: url('../bg.jpg');
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreBox{
    position: absolute;
    top: 12px;
    right: 158px;
    font-size: 50px;
    font-weight: bold;
}

#hiScoreBox{
    position: absolute;
    top: 69px;
    right: 100px;
    font-size: 50px;
    font-weight: bold;
}

#board{
    background: linear-gradient(rgb(131, 226, 131), rgb(247, 247, 157));
    width: 94vmin;
    height: 95vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}


.head{
    background: linear-gradient(rgb(34, 12, 12), red);

    border-radius: 12px;
    transform: scale(1.07);

}

.snake{
    background: linear-gradient(purple 30%, darkblue 30%, green 40%);
    border: .25vmin solid orangered;
    border-radius: 13px;
}

.food{
    background: linear-gradient(orangered 33%, yellow 60%, green 7%);
    border: 2px solid rgba(243, 114, 114, 0.445);
    border-radius: 50%;
}